<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Programare Consultatie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header>
      <ion-card-title>Formular programare</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="programareForm" (ngSubmit)="onSubmit()">
    <ion-item *ngIf="minori!=0" (click)="minorClick()">
    <ion-label><strong>Pacient</strong></ion-label>
    <ionic-selectable  [(ngModel)]="minorSelectat" [placeholder]="user_name" (onChange)="selectMinor($event)" [items]="minori" itemValueField="id" itemTextField="name" [canSearch]="true" [canClear] = "true" formControlName="minor" closeButtonText="Inapoi" clearButtonText="Sterge" (onClear)="clearMinor($event)">
    </ionic-selectable>
    </ion-item>
    <ion-item>
    <ion-label><strong>Specialitate</strong></ion-label>
    <ionic-selectable [(ngModel)]="specialitateSelectata"  #specialitateComponent placeholder="Selectati" [(ngModel)]="selectedValue" (onChange)="selectSpecialitate($event)" [items]="specialitatiSelect" itemValueField="specialitate" itemTextField="specialitate" [canSearch]="true" formControlName="specialitate" closeButtonText="Inapoi" >
    </ionic-selectable>
    </ion-item>

    <ion-item>
    <ion-label><strong>Medic</strong></ion-label>
    <ionic-selectable [(ngModel)]="medicSelectat" #medicComponent [placeholder]="specialitateComponent.value ? '' : 'Selectati mai intai specialitatea'" [items]="mediciSelect" itemValueField="id" itemTextField="name" [canSearch]="true" [isEnabled]="specialitateComponent.value" formControlName="medic" (onChange)="selectMedic($event)" closeButtonText="Inapoi">
    </ionic-selectable>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating"><strong>Motivul programarii</strong></ion-label>
      <ion-input #motivComponent  [disabled]="medicComponent.value ? 'false' : 'true'" formControlName="motiv"></ion-input>
    </ion-item>

    
 
      <ion-item [disabled]="medicComponent.value ? 'false' : 'true'">
        <ion-label><strong>Data programarii</strong></ion-label>
    <ion-input #dataComponent [(ngModel)]="data"  id="calendar" formControlName="data" ></ion-input>

    </ion-item>
    <!-- <ion-item><ion-input   #dataComponent [(ngModel)]="data"  id="calendar" formControlName="data"  (click)="dataComponent.toggle()"
      type="button"
      class="form-control"
      placeholder="yyyy-mm-dd"
      ngbDatepicker
    ></ion-input></ion-item> -->
    <!-- </ion-item> -->
    <ion-item>
      <ion-label><strong>Ora programare</strong></ion-label>
      <ionic-selectable  [(ngModel)]="oraSelectata" [placeholder]="dataComponent.value ? '' : 'Selectati mai intai data'" [items]="slots" itemValueField="slot" itemTextField="text" [canSearch]="true" [isEnabled]="dataComponent.value" formControlName="ora" closeButtonText="Inapoi">
      </ionic-selectable>
      </ion-item>

   
      
    <ion-button type="submit" [disabled]="!programareForm.valid" expand="full" color="primary">Adauga programare!</ion-button>
  </form>
    </ion-card-content>
  </ion-card>
</ion-content>
