<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content style="text-align: center;margin-top:50px;">
  <div style="padding: 40px; margin-top: 40px;">
  <img src="assets/images/logo_progaz.png" style="max-width: 60%;">
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="login()" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>
</div>
</ion-content>
