<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content style="text-align: center;margin-top:50px;">
 
  <div style="padding: 40px; margin-top: 40px;"> 
    <div class="card overflow-hidden">
        <div class="bg-login text-center">
            <div class="bg-login-overlay"></div>
            <div class="position-relative">
                <h5 class="text-white font-size-20">Bine ai venit !</h5>
                <p class="text-white-50 mb-0">Autentifica-te pentru a continua.</p>
                <p class="logo logo-admin mt-4">
                    <img src="assets/images/logo_raport_medical.png" alt="" style="max-width: 60%;" height="43">
</p>
            </div>
        </div>
        <div class="card-body pt-5">
          <div class="p-2">
  <!-- <img src="assets/images/logo_progaz.png" style="max-width: 60%;"> -->
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
 
    <ion-item>
      <ion-label position="floating">Adresa de e-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
 
    <ion-item>
      <ion-label position="floating">Parola</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
 
    <ion-button expand="full" type="submit" [disabled]="!credentialsForm.valid">Autentificare</ion-button>
    <!-- <ion-button expand="full" type="button" (click)="register()" [disabled]="!credentialsForm.valid">Register</ion-button> -->
 
  </form>
  <ion-button expand="full" (click)="registerModal()">Cont Nou</ion-button>
</div>
</div> 
</div> 
</div> 

</ion-content>
