<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content style="text-align: center;margin-top:50px;">
 
  <div style="padding: 40px; margin-top: 40px;"> 
    <div class="card overflow-hidden">
        <div class="bg-login text-center">
            <div class="bg-login-overlay"></div>
            <div class="position-relative">
                <h5 class="text-white font-size-20">Securitate!</h5>
                <p class="text-white-50 mb-0">Confirmarea adresei de e-mail</p>
                <p class="logo logo-admin mt-4">
                    <img src="assets/images/logo_raport_medical.png" alt="" style="max-width: 60%;" height="43">
</p>
            </div>
        </div>
        <div class="card-body pt-5">
          <div class="p-2">
  <!-- <img src="assets/images/logo_progaz.png" style="max-width: 60%;"> -->
Inainte sa mergi mai departe verifica daca ai primit link-ul de activare a contului pe email.
Daca nu ai primit link-ul,
</div>
</div> 
</div> 
</div> 

</ion-content>
