<ion-header [translucent]="true" class="header-background">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Consultatii online</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="url_conferinta" >
              <ion-card-content class="resp-container">
                  <iframe class="webPage" allow="camera; microphone; fullscreen; display-capture" [src]="url_conferinta | safe" ></iframe>
              </ion-card-content>
            </ion-card>
             <ion-card *ngIf="url_conferinta" >
              <ion-card-content>
                <ngx-dropzone [multiple]="false" (change)="onSelect($event)">
                  <ngx-dropzone-label>Faceti click sau trageti fisierul in interiorul acestei casete pentru a putea incarca documentele!</ngx-dropzone-label>
                  <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                  </ngx-dropzone-preview>
                </ngx-dropzone>
                 <!-- <form  [formGroup]="dropzone" (ngSubmit)="onSubmitDropzone()">
                      <div class="dz-message" data-dz-message><span>Faceti click sau trageti fisierul in interiorul acestei casete pentru a putea incarca documentele</span></div>
                  </form> -->
                </ion-card-content>
              </ion-card>
              <ion-card *ngIf="url_conferinta" >
                <ion-card-header>
                  <ion-card-title>Fisiere incarcate de doctor</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                
                  <ul class="list-group" id="file_listing" *ngFor="let fisier of fisiere;">
                      <li class="list-group-item"><button (click)="downloadFile(fisier.id)" >{{fisier.nume_fisier}}</button></li> 
                  </ul>
                  <!-- <button class="btn btn-primary mt-2 mb-3 w-100" id="refresh_files"><i class="fas fa-sync-alt mr-2"></i>Reimprospateaza fisiere</button>                                                                        -->
                </ion-card-content>
              </ion-card>
              <ion-card *ngIf="!url_conferinta">
                <ion-card-header>
                  <ion-card-title>Momentan nu ai nicio camera de consultatie deschisa</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                          <p class="card-text">Daca astepti sa intri in conferinta, camera se va deschide imediat ce doctorul va porni consultatia, indiferent daca consultatia va avea loc pentru unul din conturile asociate.
                          </p>
                          <!-- <a href="{{route('consultatie.online')}}" class="btn btn-primary waves-effect waves-light">Reincearca conectarea la consultatia online</a> -->
                        </ion-card-content>
                      </ion-card>
</ion-content>
