<ion-header [translucent]="true" class="header-background">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Panou Principal</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content> 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Consultatii programate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
  <div class="table-responsive">
    <table class="table table-centered table-striped ">
    <thead style="text-align: center !important;">
      <tr>
        <th>
          <ul style="list-style-type:none;margin-bottom:-6% !important;padding-left: 0 !important"><li >Data</li><li>Ora</li></ul></th>
        <!-- <th>Ora</th> -->
        <!-- <th>Nume pacient</th> -->
        <th>Specialitate</th>
        <th>Doctor</th>
        <th>Actiuni</th>
      </tr>
    </thead>
    <tbody style="text-align: center !important;">
      <tr mdbTableCol *ngFor="let programare of programari;">
        <!-- <th scope="row">#{{ programare.id }}</th> -->
        <th>
          <ul style="list-style-type:none;margin-bottom:-6% !important;padding-left: 0 !important"><li >{{ programare.data_programare  | date: 'dd/MM/yyyy'}}</li><li>{{ programare.ora_programare }}</li></ul></th>
      <!-- <th>{{ programare.data_programare  | date: 'dd/MM/yyyy'}}</th>
      <th>{{ programare.ora_programare }}</th> -->
      <!-- <th>{{ programare.user}}</th> -->
      <th>{{ programare.specialitate}}</th>
      <th>{{ programare.doctor}}</th>
     
      <th><ion-button color="danger" (click)="deleteConsult(programare.id)">Anuleaza</ion-button></th>
    </tbody>
  </table> 
  </div>
</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ultimele tranzactii</ion-card-title>
    </ion-card-header>
    <ion-card-content>
  <div class="table-responsive">
    <table class="table table-centered table-striped ">
    <thead>
      <tr>
        <th>Data</th>
        <!-- <th>Id tranzactie</th> -->
        <th>Valoare</th>
        <th>Status plata</th>
        <!-- <th>Doctor</th>
        <th>Actiuni</th> -->
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let tranzactie of tranzactii;">
        <!-- <th scope="row">#{{ programare.id }}</th> -->
      <th>{{ tranzactie.created_at | date: 'dd/MM/yyyy'}}</th>
      <!-- <th>{{ tranzactie.ext_order_id }}</th> -->
      <th>{{ tranzactie.order_amount}}</th>
   
      <td *ngIf="tranzactie.paid_order == 1 || tranzactie.paid_order == 2"><ion-badge color="success">Plata acceptata</ion-badge></td>
      <td *ngIf="tranzactie.paid_order == 3 "><ion-badge color="secondary">Plata anulata</ion-badge></td>
      <td *ngIf="tranzactie.paid_order == 0 &&  tranzactie.response == 0"><ion-badge color="tertiary">Plata in asteptare</ion-badge></td>
      <td *ngIf="tranzactie.paid_order == 0 &&  tranzactie.response == 1"><ion-badge color="secondary">Plata anulata</ion-badge></td>
    
     
    
    </tbody>
  </table> 
  </div>
</ion-card-content>
</ion-card>
 </ion-content>
