<ion-header [translucent]="true" class="header-background">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title slot="start" style="display:inline-block;position: relative;top: 5px;left: 5px;">
      <ion-label >Panou Principal</ion-label>
   </ion-title>
   <ion-thumbnail slot="end" style="display:inline-block;margin-right:5%">
    <img src="assets/images/logo.png" style="transform:scale(0.7);">
  </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Consultatii programate</ion-card-title>
    </ion-card-header>
    <ion-card-content>
  <div class="table-responsive">
    <table class="table table-centered table-striped ">
    <thead style="text-align: center !important; ">
      <tr>
        <th>
          <ul style="list-style-type:none;margin-bottom:-6% !important;padding-left: 0 !important"><li >Data</li><li>Ora</li></ul></th>
        <!-- <th>Ora</th> -->
        <!-- <th>Nume pacient</th> -->
        <th>Specialitate</th>
        <th>Doctor</th>
        <th>Actiuni</th>
      </tr>
    </thead>
    <tbody style="text-align: center !important;">
      <tr mdbTableCol *ngFor="let programare of pageOfItems2;" style="vertical-align: middle;">
        <!-- <th scope="row">#{{ programare.id }}</th> -->
        <th>
          <ul style="list-style-type:none;margin-bottom:-6% !important;padding-left: 0 !important"><li >{{ programare.data_programare  | date: 'dd/MM/yyyy'}}</li><li>{{ programare.ora_programare }}</li></ul></th>
      <!-- <th>{{ programare.data_programare  | date: 'dd/MM/yyyy'}}</th>
      <th>{{ programare.ora_programare }}</th> -->
      <!-- <th>{{ programare.user}}</th> -->
      <th><label>{{ programare.specialitate}}</label></th>
      <th><label>{{ programare.doctor}}</label></th>
      <!-- <th>{{ programare.doctor}}</th> -->
     
      <th><ion-badge color="danger" (click)="deleteConsult(programare)" style="font-size:1.5em"><ion-icon name="close-circle-outline"></ion-icon></ion-badge></th>
    </tbody>
  </table> 
  <jw-pagination [items]="programari" (changePage)="onChangePage2($event)" [maxPages]="3"  [pageSize]="5"></jw-pagination>
  </div>
</ion-card-content>
  </ion-card>

   <ion-card>
    <ion-card-header>
      <ion-card-title>Ultimele tranzactii</ion-card-title>
    </ion-card-header>
    <ion-card-content>
  <div class="table-responsive">
    <table class="table table-centered table-striped ">
    <thead  style="text-align: center !important;">
      <tr>
        <th>Data</th>
     
        <th>Valoare</th>
        <th>Status plata</th>

      </tr>
    </thead>
    <tbody  style="text-align: center !important;">
      <tr mdbTableCol *ngFor="let tranzactie of pageOfItems;">
    
      <th>{{ tranzactie.created_at | date: 'dd/MM/yyyy'}}</th>
   
      <th>{{ tranzactie.order_amount}}</th>
   
      <td *ngIf="tranzactie.paid_order == 1 || tranzactie.paid_order == 2"><ion-badge color="success">Plata acceptata</ion-badge></td>
      <td *ngIf="tranzactie.paid_order == 3 "><ion-badge color="secondary">Plata returnata</ion-badge></td>
      <td *ngIf="tranzactie.paid_order == 0 &&  (tranzactie.response == null || tranzactie.response == 0)"><ion-badge color="primary">Plata in asteptare</ion-badge></td>
      <td *ngIf="tranzactie.paid_order == 0 &&  tranzactie.response == 1"><ion-badge color="danger">Plata anulata</ion-badge></td>
    
     
    
    </tbody>
  </table> 
 


  <jw-pagination [items]="tranzactii" [maxPages]="3" (changePage)="onChangePage($event)"  [pageSize]="5"></jw-pagination>
  </div>
</ion-card-content>
</ion-card>
 </ion-content>
