ion-toolbar {
    --color: #ffffff;
    --background: #004b94;
}
.ion-color-medicall {
	--ion-color-base: var(--ion-color-medicall);
	--ion-color-base-rgb: var(--ion-color-medicall-rgb);
	--ion-color-contrast: var(--ion-color-medicall-contrast);
	--ion-color-contrast-rgb: var(--ion-color-medicall-contrast-rgb);
	--ion-color-shade: var(--ion-color-medicall-shade);
	--ion-color-tint: var(--ion-color-medicall-tint);
}
