<ion-app>
  <!-- <ion-split-pane> -->
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>Meniu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content style="text-align: center;">
        
        <ion-avatar style="margin:0 auto; margin-top:25px !important;margin-bottom:25px !important;transform:scale(1.5);"><ion-img src="https://infraspaces.ams3.digitaloceanspaces.com/medicover/avatars/user/{{avatar}}"></ion-img></ion-avatar>
        <ion-label ><strong>{{user_name}}</strong></ion-label>
        <!-- <ion-label ><strong>{{user}}</strong></ion-label> -->
       <!-- {{user.name}} -->
        <!-- style="padding-bottom:10px;border-bottom: 1px solid rgb(223, 219, 219);" -->
        <ion-list style="margin-top:15px;">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item (click)="logout()">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>
             Deconecteaza-te
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
  
    <ion-router-outlet main></ion-router-outlet>
  <!-- </ion-split-pane> -->
</ion-app>
