<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" (click)="logout()">
      <ion-button class="ion-button icon-end" (click)="logout()">
        <ion-text style="padding: 2px !important;">
          Iesire
        </ion-text>
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title class="ion-text-center">Panou adaugare index</ion-title>
  </ion-toolbar>
</ion-header>

   <ion-content [fullscreen]="true" class="ion-padding">
 <div *ngIf='this.scannedData == null'>
  <ion-button shape="round" expand="block" style="text-align: center;"color="primary" (click)="scanCode()">
    Scaneaza cod contor
  </ion-button> 
  </div>
  <div *ngIf='scannedData'>
    <div *ngIf='scannedData["text"] ==0'>
    <div *ngIf='scannedData'>
      <ion-button shape="round" expand="block" style="text-align: center;"color="primary" (click)="scanCode()">
        Scaneaza cod contor
      </ion-button> 
      </div>
    </div>
    <div *ngIf='scannedData["text"]'>
      <div *ngIf="userinfobool == 0">
      <ion-button shape="round" expand="block" style="text-align: center;"color="primary" (click)="getToken()">
        Afiseaza informatii client
      </ion-button>
    </div>
    <div *ngIf="userinfobool == 1">
      <ion-button shape="round" expand="block" style="text-align: center;"color="primary" (click)="ascundeuserinfo()">
        Ascunde informatii client
      </ion-button>
    </div>
    <ion-card class="p-4">
      <form #indexForm="ngForm" (ngSubmit)="sendIndex(indexForm)">
        <ion-item>
          <ion-label>Cod de bare</ion-label>
          <ion-input id="cod_de_bare" type="text" ngModel name="cod_de_bare" id="cod_de_bare"  [(ngModel)]='scannedData["text"]'[readonly]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Index curent</ion-label>
          <ion-input type="number" ngModel name="index_citire" id="index_citire"></ion-input>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-label >Observatii</ion-label>
            <ion-select ngModel value="-" okText="Ok" cancelText="Anuleaza" name="observatii" id="observatii">
              <ion-select-option value="Contor expirat">Contor expirat</ion-select-option>
              <ion-select-option value="Contor deteriorat">Contor deteriorat</ion-select-option>
              <ion-select-option value="Contor lipsa">Contor lipsa</ion-select-option>
              <ion-select-option value="Sigiliu rupt">Sigiliu rupt</ion-select-option>
              <ion-select-option value="Miros de gaz la PRM">Miros de gaz la PRM</ion-select-option>
              <ion-select-option value="Lipsa afisaj">Lipsa afisaj</ion-select-option>
              <ion-select-option value="Lipsa acces">Lipsa acces</ion-select-option>
              <ion-select-option value="Contor in proprietate">Contor in proprietate</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-button ion-button type="submit" expand="block">Trimite</ion-button>
      </form>
      <div *ngIf='indexStatus'>
        <div *ngIf='indexStatus["error"]'>
          <div class="alert alert-danger mt-3" role="alert">
            {{indexStatus["error"]}}
          </div>
        </div>
       <div *ngIf='indexStatus["success"]' >
      <div class="alert alert-success mt-3" role="alert">
        {{indexStatus["success"]}}
      </div>
    </div>
    <div *ngIf='indexStatus["alert"]' >
      <div class="alert alert-warning mt-3" role="alert">
        {{indexStatus["alert"]}}
      </div>
    </div>
      </div>
    </ion-card>

    <div *ngIf='userinfo'>
      <div *ngIf='userinfobool == 1'>
      <ion-card>
      <div *ngIf='userinfo["client"]'>
     <ul class="list-group">
       <li class="list-group-item active">Informatii client:</li>
       <li class="list-group-item"><strong>Nume client:</strong> {{userinfo["client"]["0"]["nume_client"]}}</li>
       <li class="list-group-item"><strong>Adresa:</strong> {{userinfo["client"]["0"]["adresa_loc_consum"]}}</li>
       <li class="list-group-item"><strong>Index precedent:</strong> {{userinfo["client"]["0"]["index_trecut"]}}</li>
       <li class="list-group-item"><strong>Cod client:</strong> {{userinfo["client"]["0"]["cod_client"]}}</li>
       <li class="list-group-item"><strong>Cod contor:</strong> {{userinfo["client"]["0"]["cod_contor"]}}</li>
     </ul>
       </div>
           <div *ngIf='userinfo["eroare"]'>
             <div class="card border-danger m-3">
               <div class="card-header">Alerta</div>
               <div class="card-body text-danger">
                 <p class="card-text">{{userinfo["eroare"]}}</p>
               </div>
             </div>
           </div> 
     </ion-card>   
    </div>
     </div>
     <ion-button shape="round" expand="block" style="text-align: center;"color="primary" (click)="backtoscreen()">
      Efectueaza o noua scanare
    </ion-button>
  </div>
</div>

</ion-content>