<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" (click)="logout()">
      <!-- <ion-button block color="menu-o"(click)="logout()">
        <ion-label>Left Icon</ion-label>
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button> -->
      <ion-button class="ion-button icon-end" (click)="logout()">
        <ion-text style="padding: 2px !important;">
          Iesire
        </ion-text>
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title class="ion-text-center">Panou adaugare index</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button shape="round" expand="block" style="text-align: center;"color="primary" (click)="scanCodClientInfo()">
    Scaneaza cod contor
  </ion-button>
    <div *ngIf='scannedData'>
    <div *ngIf='scannedData["text"]'>

    <ion-card class="p-4">
      <form (ngSubmit)="getToken()">
        <ion-item>
          <ion-label>Cod contor</ion-label>
          <ion-input id="cod_contor" type="text"  name="title" disabled="true" [(ngModel)]='scannedData["text"]'></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Index curent</ion-label>
          <ion-input type="number" name="description"></ion-input>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-label >Observatii</ion-label>
            <ion-select value="-" okText="Ok" cancelText="Anuleaza">
              <ion-select-option value="Contor expirat">Contor expirat</ion-select-option>
              <ion-select-option value="Contor deteriorat">Contor deteriorat</ion-select-option>
              <ion-select-option value="Contor lipsa">Contor lipsa</ion-select-option>
              <ion-select-option value="Sigiliu rupt">Sigiliu rupt</ion-select-option>
              <ion-select-option value="Miros de gaz la PRM">Miros de gaz la PRM</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-button ion-button type="submit" expand="block">Trimite</ion-button>
      </form>
    </ion-card>
    <div *ngIf='userinfo'>
      <ion-card>
      <div *ngIf='userinfo["client"]'>
     <ul class="list-group">
       <li class="list-group-item active">Informatii client:</li>
       <li class="list-group-item"><strong>Nume client:</strong> {{userinfo["client"]["0"]["nume_client"]}}</li>
       <li class="list-group-item"><strong>Cod client:</strong> {{userinfo["client"]["0"]["cod_client"]}}</li>
       <li class="list-group-item"><strong>Cod contor:</strong> {{userinfo["client"]["0"]["cod_contor"]}}</li>
       <li class="list-group-item"><strong>Adresa:</strong> {{userinfo["client"]["0"]["adresa_loc_consum"]}}</li>
     </ul>
       </div>
           <div *ngIf='userinfo["eroare"]'>
             <div class="card border-danger mb-3" style="max-width: 18rem;">
               <div class="card-header">Alerta</div>
               <div class="card-body text-danger">
                 <p class="card-text">{{userinfo["eroare"]}}</p>
               </div>
             </div>
           </div> 
     </ion-card>    
     </div>
    <!-- <p>
      Scanned Code Text : <b>{{ scannedData["text"] }}</b>
    </p>
    <p>
      Scanned Code Format : <b>{{ scannedData["format"] }}</b>
    </p> -->
  </div>
</div>
  <!-- <div *ngIf='scannedData["test"]'>
    {{scannedData["test"]}}
  </div> -->
 
</ion-content>